NODE_ENV=development
PORT=5000

CLIENT_URL=http://localhost:5173
SERVER_URL=http://localhost:5000

MONGODB_URI=mongodb+srv://<db_username>:<db_password>@clipforge.gtayy8t.mongodb.net/?appName=clipforge
GOOGLE_CLIENT_ID=PASTE_YOUR_CLIENT_ID_HERE
GOOGLE_CLIENT_SECRET=PASTE_YOUR_CLIENT_SECRET_HERE
GOOGLE_CALLBACK_URL=http://localhost:5000/api/auth/google/callback

JWT_SECRET=8390f1f1f290f7db093ca06e86e4b4f32781b12573556d6627b2bd524474093166450125a3bb6a100bf2a47d94f9ac9c908839e2a22d5c069d939b0ec1a56a03
COOKIE_NAME=clipforge_auth

STORAGE_DRIVER=local
